body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: lightseagreen; */
    background: lightblue;
}
.container{
    background: lightyellow;
    width: 600px;
    display: none;
}
 h2{
    font-size: 27px;
    text-align: center;
    padding: 20px;
    /* color: lightseagreen; */
    /* color: red; */
}
ul{
    list-style-type: none;
    padding: 0;
}
.quiz-header{
    padding: 4rem;
}
.btn-2{
    display: block;
    width: 100%;
    padding: 20px;
    background:lightgreen;

    font-size: 20px;
    border: none;

}
.btn-2:hover{
    background: lightseagreen;
}

input:hover,
label:hover{
    background-color:lightgreen;
}
#btn-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    /* border-radius: 40px; */
    border: none;
    



}
#btn-1:hover{
    background: lightgray;
    cursor: pointer;
}
.active{
    background: lightyellow;
    width: 600px;
    display: unset;
}

.hide{
    display: none;
}